#media-slider {
    .media-slider {
        direction: ltr !important;
        min-height: 320px;
        padding-bottom: 2rem;
        padding-left: 5px;
        .slick-slide {
            width: 185px;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;

            .slider-post-box {
                div {
                    border-radius: 4px;
                    width: 165px;
                    height: 250px;
                }

                img {
                    border-radius: 4px;
                    width: 165px;
                    height: 250px;
                    box-shadow: 7px 0 7px 3px rgba(0,0,0,.75);
                }
                .post-description{
                    background-color: #4c4743;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-transition: all 0.35s ease;
                    -moz-transition: all 0.35s ease;
                    -ms-transition: all 0.35s ease;
                    -o-transition: all 0.35s ease;
                    transition: all 0.35s ease;
                    padding-top: 4rem;
                    .title{
                        color: #ffd600;
                        font-weight: 400 !important;
                    }
                    .content{
                        color: white;
                    }
                }

                &:hover{
                    .post-description{
                        z-index:1;
                    }
                }
            }

        }

        ul.slick-dots {
            bottom: 25px;

            li {
                margin: 0 10px;

                button {
                    &:before {
                        font-size: 20px;
                        color: white;
                    }
                }
            }
        }
        .post-description{
            position: absolute !important;
            top: 0 !important;
            z-index:-1;
        }
    }
}

@media screen and (max-width: 1200px) {
    .media-slider {
        .slider-post-box {
            div, img {
                width: 140px !important;
                height: 220px !important;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .slider-post-box {
        div, img {
            width: 110px !important;
            height: 180px !important;
        }
    }
}

@media screen and (max-width: 480px) {
    #media-slider {
        display: none !important;
    }
}
